<h1 class="title">Junkr</h1>


<div class="container">
  <div class="new_form col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
      <% if @message %>
        <%= @message %>
      <% end %>
    <form data-toggle="validator" role="form" class=" form-group" method="post" action="/session_location">
      <div>
        <label>Where you at?</label>
        <input type="text" class="form-control" name="location" placeholder="Street address, city" required>
      </div>
      <div>
        <input type="submit" class="padding-top add-new salesubmit btn btn-primary" value="Submit">
      </div>
    </form>
  </div>
  
  <!-- TODO I don't remember why this is here but I'm scared we'll find out why later. -->
  <% if @sales.empty? %>
    <div class="col-md-6 col-md-offset-3">
      <h4 class="explain"> There are no sales in your area. </h4>
    </div>
  <% else %> 
   
    <% @sales.each do |sale| %>    
      <div class=" padding_bottom row">

        <div class="topbar col-md-10 col-md-offset-1">

          <a class="address" href='/sales/<%= sale.id %>'><%= sale.address %> about <%= '%.2f' % sale.distance %>km away.</a>

        </div>

        <div class="post col-xs-4 col-md-2 col-md-offset-1">
          <p><%= sale.start_time.to_date %></p>
          <p><%= to_12_hour_time(sale.start_time) %> - <%= to_12_hour_time(sale.end_time) %></p>

          <h4><%= sale.description %></h4>
          <% Item.where(sale_id: sale.id).each do |item| %>
            <li><%= item.item_name %></li>
          <% end %>
          <% if current_user && current_user.id == sale.user_id %>
            <a class="btn btn-danger" href='/sales/edit'>Edit</a>
          <% end %>
          
        </div>

        <div data-latitude='<%= sale.latitude%>' data-longitude='<%= sale.longitude%>' class="map-canvas col-md-3 col-md-offset-0">maps!!</div>

        <div class="photo col-md-5" >
          <img class="picture" src="<%= sale.image_path %>">
        </div>
      </div>   
    <% end %>
  <% end %>
</div>


