<h1>Junk Hunter</h1>


<div class="container">
  <% @sales.each do |sale| %>    
      <div class=" padding_bottom row">
        <div class="topbar col-md-10 col-md-offset-1">
        <%= sale.address %> (<%= sale.start_time %>, <%= sale.end_time %>)
        </div>
        <div class="post col-md-2 col-md-offset-1">Description
        <br>
        <%= sale.description %>
        <br>
         <% Item.where(sale_id: sale.id).each do |item| %>
          <li><%= item.item_name %></li>
          <% end %>

               
        </div>
        <div data-latitude='<%= sale.latitude%>' data-longitude='<%= sale.longitude%>' class="map-canvas col-md-3 col-md-offset-0">maps!!</div>
        <div class="photo col-md-5" style="background-image:url(<%= sale.image_path %>)">
        </div>
      </div>   
  <% end %>
</div>


