<h1 class="title">Junkr</h1>


<div class="container">
  <% if @sales.empty? %>
    <h1> There are no sales in your area. </h1>

  <% else %> 
    <% @sales.each do |sale| %>    
      <div class=" padding_bottom row">

        <div class="topbar col-md-10 col-md-offset-1">

        <a class="address" href='/sales/<%= sale.id %>'><%= sale.address %> (<%= sale.start_time.to_date %> || <%= to_12_hour_time(sale.start_time) %>, <%= to_12_hour_time(sale.end_time) %>)</a>

        </div>

        <div class="post col-xs-4 col-md-2 col-md-offset-1">
          <h4><%= sale.description %></h4>
          <% Item.where(sale_id: sale.id).each do |item| %>
            <li><%= item.item_name %></li>
          <% end %>
        </div>

        <div data-latitude='<%= sale.latitude%>' data-longitude='<%= sale.longitude%>' class="map-canvas col-md-3 col-md-offset-0">maps!!</div>

        <div class="photo col-md-5" >
          <img class="picture" src="<%= sale.image_path %>">
        </div>
      </div>   
    <% end %>
  <% end %>
</div>


