<h1>Post a sale</h1>
<hr/>


<% if @sale && @sale.errors.any? %>
  <div>
    <strong>Some issues with your sale, please fix them:</strong>
    <ul>
      <% @sale.errors.full_messages.each do |sale| %>
        <li><%= sale %></li>
      <% end %>
    </ul>
  </div>
<% end %>

      <form method="post" enctype="multipart/form-data" action="/sales">
        <div>
          <label>Address:</label>
          <input type="text" class="form-control" value="<%= @sale.address %>" name="address"  placeholder="123 Street, City">
        </div>

        <div>
          <label>Start time:</label>
          <input type="time" class="form-control" value="<%= @sale.start_time %>" name="start_time" >
        </div>

        <div>
          <label>End time:</label>
          <input type="time" class="form-control" value="<%= @sale.end_time %>" name="end_time" >
        </div>

        <div>
          <label>Description:</label>
          <input type="text" class="form-control" value="<%= @sale.description %>" name="description" placeholder="Describe your junk!">
        </div>

        <div>
          <label>Upload image:</label>
          <input type="file" class="form-control" value="<%= @sale.image_path %>" name="image_path" placeholder="show your junk!">
        </div>

        <div>
          <label>Item 1:</label> 
          <input type ="text" class="form-control" value="<%=  %>" name="item_name1" placeholder="Big ticket item">
        </div>

        <div>
          <label>Item 2:</label> 
          <input type ="text" class="form-control" value="<%=  %>" name="item_name2" placeholder="Big ticket item">
        </div>

        <div>
          <label>Item 3:</label> 
          <input type ="text" class="form-control" value="<%=  %>" name="item_name3" placeholder="Big ticket item">
        </div>

        <div>
          <label>Item 4:</label> 
          <input type ="text" class="form-control" value="<%=  %>" name="item_name4" placeholder="Big ticket item">
        </div>

        <div>
          <label>Item 5:</label> 
          <input type ="text" class="form-control" value="<%=  %>" name="item_name5" placeholder="Big ticket item">
        </div>  
        <input class="btn btn-primary salesubmit" name="salesubmit" type="submit" value="Submit" >
      </form>
    </div>
  </div>
</div>
