

<h1><%= @sale.address %> from <%= @sale.start_time %> to <%= @sale.end_time %></h1>


<div data-latitude='<%= @sale.latitude%>' data-longitude='<%= @sale.longitude%>' class="map-canvas col-md-3 col-md-offset-0">maps!!</div>
<div class="photo col-md-5" style="background-image:url(<%= @sale.image_path %>)">
          <!-- <img  src=<%= @sale.image_path %>/> -->
</div>

<p>
  Hosted by: <%= @sale.user.username %> 
</p>

<p>
  Description: <%= @sale.description  %>
</p>
<p>
  

</p>
<p>
  <% counter = 0 %>
  <% @sale.items.each do |item| %>
    
    <li><%= item.item_name %> <a data-number='<%= counter %>' href='#' class="btn btn-danger">Reserve</a><span id='countdown<%= counter %>'></span></li>
  <% counter += 1 %>
  <% end %>

</p>

<a href="/">Back to All sales</a>

