<h1>Sale</h1>
<div class="container">
  <div class=" padding_bottom row">
    <div class="topbar col-md-10 col-md-offset-1">
      <p class="address"><%= @sale.address %></p>
      </div>

      <div class="post col-xs-4 col-md-2 col-md-offset-1">
      <p><%= @sale.start_time.to_date %></p>
      <p><%= to_12_hour_time(@sale.start_time) %> - <%= to_12_hour_time(@sale.end_time) %></p>
      <h4><%= @sale.description %></h4>
      <% counter = 0 %>
      <% @sale.items.each do |item| %>
        
        <li><%= item.item_name %> <a data-number='<%= counter %>' href='#' class="btn btn-success btn-xs">Reserve</a><br><span id='countdown<%= counter %>'></span></li>
        <% counter += 1 %>
      <% end %>

      </div>
      <div data-latitude='<%= @sale.latitude%>' data-longitude='<%= @sale.longitude%>' class="map-canvas col-md-3 col-md-offset-0">maps!!</div>
      <div class="photo col-md-5" >
          <img class="picture" src="<%= @sale.image_path %>">
      </div>
  </div>
</div>


